@use "sass:map";
@use "@angular/material" as mat;

$md-primary: (
    50 : #fcf8f0,
    100 : #f6edda,
    200 : #f1e2c1,
    300 : #ebd6a8,
    400 : #e6cd96,
    500 : #e2c483,
    600 : #dfbe7b,
    700 : #dab670,
    800 : #d6af66,
    900 : #cfa253,
    A100 : #ffffff,
    A200 : #fffefc,
    A400 : #ffebc9,
    A700 : #ffe1b0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #eaeff2,
    100 : #c9d6df,
    200 : #a6bbc9,
    300 : #829fb3,
    400 : #678ba3,
    500 : #4c7693,
    600 : #456e8b,
    700 : #3c6380,
    800 : #335976,
    900 : #244664,
    A100 : #a7d4ff,
    A200 : #74bcff,
    A400 : #41a3ff,
    A700 : #2797ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #f8eaea,
    100 : #edcbca,
    200 : #e1a9a7,
    300 : #d58784,
    400 : #cc6d69,
    500 : #c3534f,
    600 : #bd4c48,
    700 : #b5423f,
    800 : #ae3936,
    900 : #a12926,
    A100 : #ffe0e0,
    A200 : #ffafad,
    A400 : #ff7d7a,
    A700 : #ff6460,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$tymer-light-primary: mat.define-palette($md-primary);
$tymer-light-accent: mat.define-palette($md-accent);
$tymer-light-warn: mat.define-palette($md-warn);

$my-app-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $tymer-light-primary,
      accent: $tymer-light-accent,
      warn: $tymer-light-warn,
    ),
  )
);