<div>
    <h1>Tracker</h1>

    <div class="d-flex">
        <button mat-raised-button color="primary" (click)="tymerStart == null ? startTymer() : stopTymer()">{{tymerStart == null ? 'Start' : 'Stop'}}</button>
        <h2 class="ms-2">{{tymerStart | tymer}}</h2>
    </div>

    <table mat-table [dataSource]="timeEntriesDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="project">
            <th mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let displayableTimeEntry">
                <mat-form-field appearance="standard">
                    <mat-select [(ngModel)]="displayableTimeEntry.project" placeholder="Project" [disabled]="displayableTimeEntry.project != null" (valueChange)="updateDisplayableTimeEntry(displayableTimeEntry, $event)">
                        <mat-option *ngFor="let project of projects" [value]="project.name">
                            {{project.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="sun">
            <th mat-header-cell *matHeaderCellDef class="weekend" [ngClass]="{'today': today.getDay() == 0}">Sunday</th>
            <td mat-cell *matCellDef="let displayableTimeEntry" class="weekend" [ngClass]="{'today': today.getDay() == 0}">
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [(ngModel)]="displayableTimeEntry[0].duration">
                    <button matSuffix mat-icon-button (click)="openNotesDialog(displayableTimeEntry[0])" matTooltip="Add notes">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef class="weekend" [ngClass]="{'today': today.getDay() == 0}">{{getTotalHours(0)}}h</td>
        </ng-container>

        <ng-container matColumnDef="mon">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'today': today.getDay() == 1}">Monday</th>
            <td mat-cell *matCellDef="let displayableTimeEntry" [ngClass]="{'today': today.getDay() == 1}">
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [(ngModel)]="displayableTimeEntry[1].duration">
                    <button matSuffix mat-icon-button (click)="openNotesDialog(displayableTimeEntry[1])" matTooltip="Add notes">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="{'today': today.getDay() == 1}">{{getTotalHours(1)}}h</td>
        </ng-container>

        <ng-container matColumnDef="tue">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'today': today.getDay() == 2}">Tuesday</th>
            <td mat-cell *matCellDef="let displayableTimeEntry" [ngClass]="{'today': today.getDay() == 2}">
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [(ngModel)]="displayableTimeEntry[2].duration">
                    <button matSuffix mat-icon-button (click)="openNotesDialog(displayableTimeEntry[2])" matTooltip="Add notes">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="{'today': today.getDay() == 2}">{{getTotalHours(2)}}h</td>
        </ng-container>

        <ng-container matColumnDef="wed">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'today': today.getDay() == 3}">Wednesday</th>
            <td mat-cell *matCellDef="let displayableTimeEntry" [ngClass]="{'today': today.getDay() == 3}">
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [(ngModel)]="displayableTimeEntry[3].duration">
                    <button matSuffix mat-icon-button (click)="openNotesDialog(displayableTimeEntry[3])" matTooltip="Add notes">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="{'today': today.getDay() == 3}">{{getTotalHours(3)}}h</td>
        </ng-container>

        <ng-container matColumnDef="thur">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'today': today.getDay() == 4}">Thursday</th>
            <td mat-cell *matCellDef="let displayableTimeEntry" [ngClass]="{'today': today.getDay() == 4}">
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [(ngModel)]="displayableTimeEntry[4].duration">
                    <button matSuffix mat-icon-button (click)="openNotesDialog(displayableTimeEntry[4])" matTooltip="Add notes">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="{'today': today.getDay() == 4}">{{getTotalHours(4)}}h</td>
        </ng-container>

        <ng-container matColumnDef="fri">
            <th mat-header-cell *matHeaderCellDef [ngClass]="{'today': today.getDay() == 5}">Friday</th>
            <td mat-cell *matCellDef="let displayableTimeEntry" [ngClass]="{'today': today.getDay() == 5}">
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [(ngModel)]="displayableTimeEntry[5].duration">
                    <button matSuffix mat-icon-button (click)="openNotesDialog(displayableTimeEntry[5])" matTooltip="Add notes">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef [ngClass]="{'today': today.getDay() == 5}">{{getTotalHours(5)}}h</td>
        </ng-container>

        <ng-container matColumnDef="sat">
            <th mat-header-cell *matHeaderCellDef class="weekend" [ngClass]="{'today': today.getDay() == 6}">Satuday</th>
            <td mat-cell *matCellDef="let displayableTimeEntry" class="weekend" [ngClass]="{'today': today.getDay() == 6}">
                <mat-form-field appearance="standard">
                    <mat-label>Duration</mat-label>
                    <input matInput type="number" [(ngModel)]="displayableTimeEntry[6].duration">
                    <button matSuffix mat-icon-button (click)="openNotesDialog(displayableTimeEntry[6])" matTooltip="Add notes">
                        <mat-icon>note_add</mat-icon>
                    </button>
                </mat-form-field>
            </td>
            <td mat-footer-cell *matFooterCellDef class="weekend" [ngClass]="{'today': today.getDay() == 6}">{{getTotalHours(6)}}h</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <!-- <tr mat-header-row *matHeaderRowDef="tableColumnsInput" class="header-2"></tr> -->
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="tableColumns"></tr>
    </table>
    <button mat-raised-button color="warn" (click)="saveTimeSheet(timeEntriesDataSource.data)">Save</button>
</div>